body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #00B7FF;
}

#test {
    position: absolute;
    font-size: 40px;
    left: 50%;
    top: 70%;

    -webkit-transition: top 2s;
    transition: top 2s;
}